.input_field{
    padding: 30px;
    margin: auto;
    margin-top: 30px;
    width: 935px;
}

.button{
    background-color: #0095F7; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: auto;
  display: block;
  width: fit-content;
}

